#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #0c0b45;
}

#container{
  height: 100%;
  width: 100%;
  background-image: url("../public/headphones-with-music-notes-headband-purple-background_1204450-18453.avif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

#title{
  margin: 0;
}

#title h1{
  color: white;
}

#title span{
  color: purple;
}

#searchForm{
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
}

#searchbox{
  background-color: white;
  width: 16rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.button{
  display: flex;
  margin-top: 1rem; 
  border-radius: 40px;
  color: white;
  background-color: #0c0b45;
  font-size: large;
  padding: 0.75rem 1.5rem;
  border: none;
}

.button:hover{
  background-color: #9a48d9;
}

#itemContainer{
  display: flex;
  justify-content: flex-start;
}
.itemBox{
  height: 600px;
  width: 600px;
  background-color: #0c0b45;
  margin: 50px;
  border: 3px solid black;
  text-align: left;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

.itemBox h2{
  margin: 0.5rem;
  padding: 0;
}

.track{
  border-bottom: white solid 1px;
  margin: 0 0.5rem 0.25rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.track h3{
  margin: 0;
}

.track button{
  background: none;
  display: inline-flex;
  align-self: flex-end;
}

.track button:hover{
  border:none;
  color: lightgrey;
}

.itemBox .textInput{
  background: none;
  border: none;
  border-bottom: white solid 1px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  font-size: 24px;
  font-weight: bold;
}

.itemBox .textInput:focus{
  outline: none;
  border-bottom: white solid 1px;
}

.itemBox .button{
  background-color: #7345de;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}